<h2 id = "contact-title">Developer Contact</h2>
<div class="contact">
    <div class="contact-item">
<mat-card>
<mat-card-title>
 <mat-icon matListIcon>account_circle</mat-icon>   Ridayesh Parab
</mat-card-title>
<mat-card-content>
    <mat-list>
    <mat-list-item>Roll Number: 190020079</mat-list-item>
    <mat-list-item>Email: ridayesh@cse.iitb.ac.in</mat-list-item>
    <mat-list-item>Github Profile:</mat-list-item>
    </mat-list>
</mat-card-content>
</mat-card>
</div>
<div>
<mat-card>
    <mat-card-title>
     <mat-icon matListIcon>account_circle</mat-icon>   Richeek Das
    </mat-card-title>
    <mat-card-content>
        <mat-list>
        <mat-list-item>Roll Number: 190260036</mat-list-item>
        <mat-list-item>Email: richeek@cse.iitb.ac.in</mat-list-item>
        <mat-list-item>Github profile:<br>https://github.com/sudoRicheek</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
</div>
</div>