$alignment:center;
$normalFont: 25px;
$height: 400px;
$width:500px;
$contatiner-border-color: rgb(20,20,20);
$border-thickness: 5px;
$margin: 25px 25px 75px 25px;
$grid-rows: auto auto auto auto auto auto auto auto;

.mat-card-content{
    font-size: 100px;
    padding-bottom: 50px;
}

.contact{
    display: grid;
    margin-top: 100px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-evenly;
}

#contact-title{
    font-size: 1.5cm;
    text-align: $alignment;
    margin-top: 20px;
}
